<div class="form-container">
  <h1>Formulario de registro</h1>
  <hr>
  <div class="form-columns">
    <div class="form-column">
      <label for="id">ID</label>
      <input type="text" id="id" name="id" class="form-input" />

      <label for="description">Descripción</label>
      <input type="text" id="description" name="description" class="form-input" />

      <label for="date_release">Fecha de Lanzamiento</label>
      <input type="date" id="date_release" name="date_release" class="form-input" />
    </div>
    <div class="form-column">
      <label for="name">Nombre</label>
      <input type="text" id="name" name="name" class="form-input" />

      <label for="logo">Logo</label>
      <input type="text" id="logo" name="logo" class="form-input" />
      
      <label for="date_revision">Fecha de Revisión</label>
      <input type="date" id="date_revision" name="date_revision" class="form-input" />
    </div>
  </div>

  <div class="form-buttons">
    <button class="reset-button">Reiniciar</button>
    <button class="submit-button">Enviar</button>
  </div>
</div>
