<div class="container">
  <div class="search-add-container">
    <div class="search-container">
    

    </div>
    <button class="add-button"[routerLink]="['/register']">Agregar</button>
  </div>
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
         
  </table>
  <div id="dataTable_length" class="dataTables_length">
    <label>Mostrar
      <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
      registros
    </label>
  </div>
</div>

